<!DOCTYPE html>

<head>
    <title>title</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>

    <%- include('navBar'); %>
    <div class="wrapper_login">
        <div class="conteiner">
            <div class="block">
                <section class="block__item block-item">
                    <h2 class="block-item__title">Уже є аккаунт</h2>
                    <button class="block-item__btn signin-btn">Ввійти</button>
                </section>
                <section class="block__item block-item">
                    <h2 class="block-item__title">Ще немає аккаунта</h2>
                    <button class="block-item__btn signup-btn">Зареєструватись</button>
                </section>

                <div class="form-box">
                    <form action="/auth/login" method="POST" class="form form_signin">
                        <h3 class="form__title">Вхід</h3>
                        <p>
                            <input id="email" name="email" type="email" class="fotm__input" placeholder="Email" required>
                        </p>
                        <p>
                            <input id="password" name="password" type="password" class="fotm__input" placeholder="Пароль" required>
                        </p>
                        <p>
                            <button class="form__btn" type="submit">Ввійти</button>
                        </p>
                    </form>



                    <form action="/auth/register" method="POST" class="form form_signup">
                        <h3 class="form__title">Реєстрація</h3>
                        <p>
                            <input id="rEmail" name="email" type="email" class="fotm__input" placeholder="Email" required>
                        </p>
                        <p>
                            <input id="rPassword" name="password" type="password" class="fotm__input" placeholder="Пароль" required>
                        </p>
                        <p>
                            <input id="confirm" name="confirm" type="password" class="fotm__input" placeholder="Пароль ще раз" required>
                        </p>
                        <p>
                            <input id="name" name="name" type="text" class="fotm__input" placeholder="Ваше ім'я" required>
                        </p>
                        <p>
                            <button type="submit" class="form__btn form__btn_signup">Реєстрація</button>
                        </p>
                    </form>

                </div><div class="form_signup__"></div>
                
            </div>
        </div>
    </div>




        <script src="./js/login.js"></script>
</body>

</html>