<nav class="nav">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Головна сторінка</a></li>
        <li><a href="/auth">Вхід</a></li>
        <li><a href="/auth/logout">Вийти</a></li>
    </ul>
  </div>
</nav>