<!DOCTYPE html>

<head>
    <title>title</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>
    <%- include('navBar'); %>
    <h1>Секретна сторінка</h1>
    
    <script src="./js/main.js"></script>
</body>

</html>
